<div
  class="relative w-full flex items-center justify-center lg:space-x-64 md:space-x-24 font-roboto lg:px-0 px-3 md:py-0 py-8">
  <div class="text-left space-y-5">
    <p class="lg:text-lg md:text-base text-xs">Best Deal Online on smart watches</p>
    <h1 class="lg:text-4xl md:text-3xl text-lg font-bold">SMART WEARABLE.</h1>
    <p class="lg:text-2xl md:text-lg text-sm md:uppercase capitalize">UP to 80% OFF</p>
  </div>
  <img src="/assets/images/wristwatch.png" alt="" class="md:w-auto w-40">
  <img src="assets/images/slider-bg-img.png" alt="" class="absolute right-0 -z-10">
</div>
