<div class="relative w-full flex items-center justify-center md:space-x-64 font-roboto md:px-0 px-3 md:py-0 py-5">
  <div class="text-left space-y-5">
    <p class="md:text-lg text-xs">Best Deal Online on smart watches</p>
    <h1 class="md:text-4xl text-lg font-bold">SMART WEARABLE.</h1>
    <p class="md:text-2xl text-sm md:uppercase capitalize">UP to 80% OFF</p>
  </div>
  <img src="/assets/images/wristwatch.png" alt="" class="md:w-auto w-40">
  <img src="assets/images/slider-bg-img.png" alt="" class="absolute right-0 -z-10">
</div>
