<footer class="bg-primary text-white relative py-5 lg:px-32 md:px-10 px-5 lg:text-base text-sm">
  <div class="flex md:flex-row flex-col md:py-20 py-10 md:space-x-20 md:space-y-0 space-y-10 border-b border-b-hr">
    <div class="space-y-5 z-10">
      <h3 class="lg:text-4xl text-3xl font-semibold pb-6">Hoolio Market</h3>
      <h3 class="md:text-xl text-lg font-semibold">Contact Us</h3>
      <div class="flex items-start space-x-2">
        <span><i class="fab fa-whatsapp fa-lg"></i></span>
        <div>
          <p>WhatsApp</p>
          <p>+234012345678</p>
        </div>
      </div>
      <div class="flex items-start space-x-2">
        <span><i class="fas fa-phone fa-lg"></i></span>
        <div>
          <p>Call us</p>
          <p>+23451292638</p>
        </div>
      </div>
      <h3 class="md:text-xl text-lg font-semibold">Download App</h3>
      <div class="flex space-x-5">
        <img src="assets/images/google.png" alt="android" class="w-32">
        <img src="assets/images/ios.png" alt="ios" class="w-32">
      </div>
    </div>
    <div class="z-10 md:space-y-10 space-y-5">
      <h3 class="md:text-xl text-lg font-semibold lg:underline underline-offset-[10px]">Most Popular Categories</h3>
      <div class="space-y-3">
        <li><a href="#!">Staples</a></li>
        <li><a href="#!">Beverages</a></li>
        <li><a href="#!">Personal Care</a></li>
        <li><a href="#!">Home Care</a></li>
        <li><a href="#!">Baby Care</a></li>
        <li><a href="#!">Vegetables & Fruits</a></li>
        <li><a href="#!">Snacks & Foods</a></li>
        <li><a href="#!">Dairy & Bakery</a></li>
      </div>
    </div>
    <div class="z-10 md:space-y-10 space-y-5">
      <h3 class="md:text-xl text-lg font-semibold lg:underline underline-offset-[10px]">Customer Services</h3>
      <div class="space-y-3">
        <li><a href="#!">About Us</a></li>
        <li><a href="#!">Terms & Conditions</a></li>
        <li><a href="#!">FAQ</a></li>
        <li><a href="#!">Privacy Policy</a></li>
        <li><a href="#!">E-waste Policy</a></li>
        <li><a href="#!">Cancellation & Return Policy</a></li>
      </div>
    </div>
  </div>
  <div>
    <p class="text-center md:text-base text-sm py-5">&copy; {{year}} All rights reserved. Hoolio</p>
  </div>
  <img src="assets/images/footer.png" alt="" class="absolute right-0 top-0">


</footer>
