<div class="flex items-center justify-between md:px-20 px-5 text-primary py-5 border-b">
  <h2 class="font-bold md:text-2xl text-xl">Hoolio Market</h2>
  <div class="md:flex items-center space-x-10 hidden">
    <div class="search bg-accent flex items-center py-2 px-3 rounded-md">
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
      <input type="text" class="w-full bg-transparent outline-none px-5 placeholder:text-xs placeholder:font-light"
        placeholder="Search essentials, groceries and more...">
      <i class="fa-solid fa-bars fa-lg"></i>
    </div>
    <div>
      <button class="flex items-center space-x-3"><i class="fa-regular fa-user"></i><span>Sign
          Up/Login</span></button>
    </div>
  </div>
</div>
