<div class="md:flex">
  <div class="md:w-[20%]">
    <app-sidebar></app-sidebar>
  </div>
  <div class="md:w-[80%] space-y-5">
    <app-topnav></app-topnav>
    <div class="flex justify-center px-5 w-full">
      <div>
        <div class="font-bold text-slider md:text-3xl font-xl py-5 space-y-2 uppercase text-center">
          <p>Add Product</p>
          <!-- <div class="h-1 md:w-2/4 w-1/2 bg-slider rounded-full"></div> -->
        </div>
        <form (ngSubmit)="addProduct()" class="space-y-5">
          <div>
            <!-- <label for="name">Product Name</label> -->
            <input type="text" [(ngModel)]="product.name" name="name" placeholder="Product Name"
              class="border-b w-full outline-none border-b-slider py-3 px-2">
          </div>
          <div>
            <input type="file" (change)="onFileChange($event)" name="image"
              class="border-b w-full outline-none border-b-slider py-3 px-2">
          </div>
          <div>
            <textarea [(ngModel)]="product.description" name="description" placeholder="Product Description"
              class="border w-full outline-none border-slider py-3 px-2"></textarea>
          </div>
          <div>
            <input type="number" [(ngModel)]="inputText" [(ngModel)]="product.price" name="price"
              placeholder="Product Price" class="border-b w-full outline-none border-b-slider py-3 px-2">
          </div>
          <button type="submit" [disabled]="!inputText"
            class="w-full flex items-center space-x-3 justify-center bg-slider py-3 px-2 text-white disabled:cursor-not-allowed disabled:text-slider disabled:bg-transparent disabled:border border-slider">
            <div *ngIf="isLoading" class="shapes-4"></div>
            <span>Add Product</span>
          </button>
        </form>
        <div>
          <p *ngIf="successMessage" class="text-center bg-green-50 text-green-700 py-2 rounded-md my-5">{{success}}
          </p>
          <p *ngIf="errorMessage" class="text-center bg-red-50 text-red-700 py-2 rounded-md my-5">{{error}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-bottom-nav></app-bottom-nav>
</div>