<div class="bg-slider md:px-10 px-5 h-screen text-white space-y-10 md:block hidden">
  <h3 class="font-bold md:text-2xl border-b py-5">Hoolio Market</h3>
  <ul class="space-y-5">
    <li class="bg-white p-3 rounded-md w-full font-semibold text-slider flex space-x-2 items-center">
      <i class="fa-solid fa-house"></i>
      <a routerLink="/dashboard">Overview</a>
    </li>
    <!-- <li class="bg-white p-3 rounded-md w-full font-semibold text-slider flex space-x-2 items-center">
      <i class="fa-solid fa-truck-fast"></i>
      <a routerLink="/products">Products</a>
    </li> -->
    <li class="bg-white p-3 rounded-md w-full font-semibold text-slider flex space-x-2 items-center">
      <i class="fa-solid fa-right-from-bracket"></i>
      <a routerLink="#!">Logout</a>
    </li>
  </ul>

</div>
