<div class="fixed bottom-0 w-full z-10 md:hidden">
  <ul class="flex justify-between bg-slider w-full px-5 py-2">
    <li class="p-4 font-semibold text-white flex space-x-2 items-center" routerLink="/products">
      <i class="fa-solid fa-truck-fast fa-lg"></i>
      <!-- <a routerLink="#!">Products</a> -->
    </li>

    <li class="p-4 font-semibold text-white flex space-x-2 items-center" routerLink="/dashboard">
      <i class="fa-solid fa-house fa-lg"></i>
      <!-- <a routerLink="/dashboard">Overview</a> -->
    </li>

    <li class="p-4 font-semibold text-white flex space-x-2 items-center" routerLink="/logout">
      <i class="fa-solid fa-right-from-bracket fa-lg"></i>
      <!-- <a routerLink="#!">Logout</a> -->
    </li>
  </ul>
</div>
