<div class="bg-slider lg:mx-32 md:mx-10 text-white md:rounded-md my-5">
  <swiper [pagination]="true" class="mySwiper w-full">
    <ng-template swiperSlide>
      <app-slider-content></app-slider-content>
    </ng-template>
    <ng-template swiperSlide>
      <app-slider-content></app-slider-content>
    </ng-template>
    <ng-template swiperSlide>
      <app-slider-content></app-slider-content>
    </ng-template>
    <ng-template swiperSlide>
      <app-slider-content></app-slider-content>
    </ng-template>

  </swiper>
</div>
